* {
	box-sizing: border-box;
}

body, 
html,
#container {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#topbanner {
	height: 50px;
	width: 100%;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: space-between;
	z-index: 2;
	background-color: grey;
	color: black;
}

#topbanner,
#menumain,
#searchmain,
#myfavorites {
	will-change: transform;
	transform: translateZ(0);
}

#map {
	z-index: 1;
	width: 100%;
	height: calc(100% - 50px);
	top: 50px;
}

.topicon,
.search {
	width: 40px;
	margin: 5px;
	cursor: pointer;
}

h1 {
	line-height: 50px;
	margin: 0;
}

#menumain {
	position: absolute;
	top: 50px;
	margin: 0;
	padding-top: 25px;
	z-index: 2;
	background-color: gray;
}

#searchmain {
	position: absolute;
	top: 50px;
	right: 0;
	z-index: 2;
	max-width: 100%;
}

#myfavorites {
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 2;
	background-color: gray;
}

#acknowledgement,
#detailedinfo {
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 2;
	background-color: gray;
}

#acknowledgement,
#myfavorites,
#menumain,
#detailedinfo {
	height: calc(100% - 50px);
	overflow-y: auto;
	width: 250px;
}

.item {
	padding: 10px 20px;
	line-height: 20px;
	cursor: pointer;
}

.item:hover {
	background-color: white;
}

button.item {
	width: 100%;
	padding: 0 20px;
}

#searchbox {
	height: 40px;
	margin: 0;
	padding: 0 20px;
	display: inline;
	top: 50%;
	transform: translateY(-50%);
}

.filtering {
	display: flex;
	justify-content: space-between;
	padding: 5px 5px 0 5px;
}

#filterBox {
	width: 100%;
	height: 40px;
	padding: 0 20px;
}

#filterButton {
	margin-left: 14px;
	cursor: pointer;
}


.closefav {
	margin-left: calc(50% - 20px);
}

.details {
	width: 100%;
	line-height: 45px;
	background-color: #c3c;
	border-radius: 10px;
    margin: 5px 0;
    text-align: center;
    font-size: 24px;
}

.weather {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #bbb;
}

.weather h3 {
	margin: 5px;

}

.weathertitle {
	width: 100%;
	font-size: 1.17em;
	text-align: center;
}

.weathertitle p {
	margin: 15px 0 0 0;
	font-weight: bold;
}

.functionItem {
	padding: 14px;
	width: 100%;
	line-height: 20px;
	margin: 5px;
	background: pink;
	text-align: center;
}

.submenubar {
	background-color: #ccc;
	display: flex;
	justify-content: space-between;
}

.submenus {
	width: 30px;
	height: 30px;
	margin: 2px 5px;
	cursor: pointer;
}

.detailscontent,
#optionsbutton {
	padding: 0 15px;
}

.addressdiv {
	padding: 5px 20px;
	background-color: #bbb;
}

@media only screen and (max-width: 500px){
	#acknowledgement,
	#myfavorites,
	#menumain,
	#detailedinfo{
		width: 100%;
	}
}